html{
    background-color:#E0ECF8;
}
body {
    width: auto;
    height: 500px;
    margin: 10px;
    padding: 10px;
    min-width: 357px;
    overflow-x: hidden;
}

table{
    margin:50px;
}

h1{
    margin:40px;
}

#download{
    background-color: rgb(44, 136, 130);
    font-size: 20px;
    color:white;
    margin:50px;
    padding:20px;
    text-decoration:none;
    border-radius: 10px;
}

#download:hover{
    background-color: rgb(67, 201, 192);
}

#reset,#countReset{
    background-color: rgb(223, 170, 54);
    font-size: 20px;
    color:white;
    margin:30px 10px;
    padding:20px;
    text-decoration:none;
    border-radius: 10px;
}
#countReset{
    background-color: rgb(223, 54, 54);
}